  html, body {
  height: 100%;
}
#wrap{
  min-height: 100%;
}

#main1 {
  width: 100%;
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  clear:both;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
 
  padding: 0 0 20px 0;
  color: #212529;
  font-size: 14px;

}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}

#footer .credits a {
  color: #17a6a3;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}